.layout-header {
  margin-top: 15px;
  margin-bottom: 35px;
}

.header-list {
  padding: 1rem;
  color: white;
  border-radius: 0.375rem;
  padding: 16px;
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: space-between;
}
.header-list a {
  font-size: 24px;
  color: white;
  text-decoration: underline;
  text-underline-offset: 8px;
}
